header{
    width: 375px;
    height: 60px;
    margin: 42px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    width: 204px;
    text-align: center;
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}

header img{
    width: 52px;
    height: 60px;
}

main{
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
   
}
main .topico{
    width: 300px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
}


h4 {
    font-family: 'Recursive';
    font-weight: 700;
    font-size: 16px;
    color: #333333;
}


main .topico ion-icon{
    font-size: 23px;
}


main :nth-child(8){
    margin-bottom: 95px;
}
/* PArte um */

main .questao{
    width: 300px;
    height: 131px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 5px;
    background-color: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
}

main .questao h4{
    font-weight: 400;
    font-size: 18px;
    word-wrap: break-word;
}

main .questao .secao-pergunta{
    width: 270px;
    display: flex;
    justify-content: flex-end;
}

main .questao img{
    width: 30px;
    height: 20px;
}

main .questao img :hover{
    cursor: pointer;
    opacity: 0.7;
}
/* parte dois*/

main .questao .secao-botoes{
    height: auto;
    display: flex;
    justify-content: space-between
}

main .questao button {
    width: 85px;
    height: 37px;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
}

main .questao .backErrado{
    background-color: #FF3030;

}
main .questao .backQuase{
    background-color: #FF922E;

}
main .questao .backZap{
    background-color: #2FBE34;
}

main .questao .secao-botoes .p{
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 14px;
}
footer{
    width: 375px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

footer p{
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;
    color: #333333;
}

.respondido{
    text-decoration: line-through;
}
.certo{
    color: #2FBE34;
}
.quase{
    color: #FF922E;
}
.errado {
    color: #FF3030;

}

