body {
    min-height: 667px;
    background-color: #FB6B6B;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Righteous';
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
}

p{
    font-family: 'Recursive';
    font-weight: 400;
}

strong{
    font-weight: 700;
}

.tela-um{
    width: 250px;
    height: 317px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tela-um img{
    width: 136px;
    height: 161px;
}

.tela-um button{
    width: 246px;
    height: 54px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.tela-um button:hover{
    cursor: pointer;
    opacity: 0.92;
}
.tela-um p{
    font-size: 18px;
    color: #D70900;
}
